
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">

    <title></title>
  <script type="module" integrity="sha512-wrkvgnx5QU7sHMYYeiHDdgszjINLzfbt630xb2Xafqa4ecC0eTjvrzqUQ7+2HApa1AVvG+DKxhRbwJ0NmFaA4Q==" src="/.11ty/reload-client.js"></script></head>
  <body class="grid min-h-screen place-items-center py-5">
    
<header>
    <h1 class="text-4xl font-bold text-center pb-2">Averill Cate Jr., Ph.D.</h1>
    3661 N Campbell Ave #372 | Tucson, AZ 85719 | (520) 370-6997 | acatejr@gmail.com
</header>

<main class="m-3 w-[210mm] overflow-hidden">
    <div class="container mx-auto">
        <div class="py-2">
            <div class="text-center text-2xl">Application Developer/GIS Programmer/Analyst</div>
            <div class="text-justify">
                Application Developer with more than 25 years of experience seeking a new opportunity. Educational background includes a Ph.D.
                in Geographic Information Science/Geoinformatics from the University of Arizona and two Master's Degrees. Extensive experience
                applying new languages and/or technologies such as Drupal, Django, or CodeIgniter to environmental and/or natural-resource related
                projects. Well-developed skills with programming, GIS, and earth science, with a proven ability to use GIS programming tools to make
                earth-science data more accessible. Self-driven and motivated with a reputation for developing new ideas that benefit the organization.
                Driven to succeed with a track record of success delivering work that solves problem and/or saves money for the client.
            </div>
        </div>
        <div class="py-2">
            <div class="text-center text-2xl">Areas of Expertise</div>
            <div class="text-center">
                Python, C#.Net, Java, HTML | GIS Programming | JQuery, React, Django, Tailwind CSS, Bootstrap
                <br/>
                Database Development | Docker
            </div>
        </div>
        <div class="py-2">
            <div class="text-center text-2xl">Education</div>
                <div class="grid grid-cols-2 gap-4">
                
                    <div>
                        <b>The University of Arizona, Tucson, AZ</b><br/>
                        School of Renewable Natural Resources<br/>
                        Ph.D. in Renewable Natural Resources and Remote Sensing
                    </div>
                    <div class="text-right">May 2008</div>
                
                    <div>
                        <b>The University of Arizona, Tucson, AZ</b><br/>
                        The Eller College of Management - Management Information Systems<br/>
                        M.S. in Management Information Systems
                    </div>
                    <div class="text-right">May 2003</div>
                
                    <div>
                        <b>The University of Arizona, Tucson, AZ</b><br/>
                        School of Renewable Natural Resources<br/>
                        M.S. in Watershed Management and Geographic Information Systems
                    </div>
                    <div class="text-right">May 2000</div>
                
                    <div>
                        <b>The University of New Hampshire, Durham, NH</b><br/>
                        College of Agriculture<br/>
                        B.S. in Surface Water Hydrology
                    </div>
                    <div class="text-right">May 1988</div>
                
            </div>
        </div>

        <div class="py-2">
            <div class="text-center text-2xl">Experience</div>
            <div class="grid grid-cols-5 gap-4 py-2">
                
                <div class="col-span-4">
                    <b>
                        The University of Arizona
                        <br/>
                        Data Architect - The School of Information
                    </b>
                    <br/>
                    <ul class="list-disc list-inside text-sm">
                        
                        <li>Co-lead initiative to develop a data catalog for the United States Forest Service</li>
                        
                        <li>Investigated existing USFS data sources for the catalog</li>
                        
                        <li>Investigated metadata standards for the catalog (e.g., ISO-19115, DCAT)</li>
                        
                        <li>Developed plan for data catalog software needs</li>
                        
                    </ul>
                </div>
                <div class="text-right">2024 - Present</div>
                
                <div class="col-span-4">
                    <b>
                        The University of Arizona
                        <br/>
                        Integration Engineer - University Information Technology Services
                    </b>
                    <br/>
                    <ul class="list-disc list-inside text-sm">
                        
                        <li>Boomi and StreamSets pipeline development</li>
                        
                        <li>Python ETL development</li>
                        
                        <li>Developed MySQL databases in AWS used to cache data</li>
                        
                        <li>Developed REST API for sharing student mealplan financial data</li>
                        
                        <li>Developed REACT interface for uploading CSV files</li>
                        
                        <li>Supervised student workers</li>
                        
                    </ul>
                </div>
                <div class="text-right">2021 - 2024</div>
                
                <div class="col-span-4">
                    <b>
                        The University of Arizona
                        <br/>
                        Software Engineer - University Graduate College
                    </b>
                    <br/>
                    <ul class="list-disc list-inside text-sm">
                        
                        <li>Used PHP and CakePHP to support an exsiting graduate college application website</li>
                        
                        <li>Developed MySQL databases</li>
                        
                        <li>Helped manage and maintain Drupal websites</li>
                        
                        <li>Used Docker to create a development stack that mirrored productions sytems</li>
                        
                        <li>Supervised student workers</li>
                        
                    </ul>
                </div>
                <div class="text-right">2016 - 2021</div>
                
                <div class="col-span-4">
                    <b>
                        Scientific Technologies Corp.
                        <br/>
                        Software Engineer
                    </b>
                    <br/>
                    <ul class="list-disc list-inside text-sm">
                        
                        <li>Developed a health survey system for a network of hospitals</li>
                        
                        <li>Django, MySQL and Angular, AWS</li>
                        
                    </ul>
                </div>
                <div class="text-right">2015 - 2016</div>
                
                <div class="col-span-4">
                    <b>
                        The City of Tucson, Tucson, AZ
                        <br/>
                        Software Engineer - SC
                    </b>
                    <br/>
                    <ul class="list-disc list-inside text-sm">
                        
                        <li>Developed, programmed and maintained multiple intranet web-based applications used to support daily business operations</li>
                        
                        <li>Developed Oracle, SQL Server and MySQL databases for desktop and web applications</li>
                        
                        <li>Developed open-data REST based web-API feeds as part of City of Tucson's open data initiative</li>
                        
                        <li>Developed web application allowing Tucson business community to estimate zoning development fees</li>
                        
                    </ul>
                </div>
                <div class="text-right">2012 - 2015</div>
                
                <div class="col-span-4">
                    <b>
                        Blue Earth Imaging, Tucson, AZ
                        <br/>
                        Web Application Developer
                    </b>
                    <br/>
                    <ul class="list-disc list-inside text-sm">
                        
                        <li>Developed company web app using Python and the Django framework, a MySQL database and the Google Maps JavaScript API</li>
                        
                    </ul>
                </div>
                <div class="text-right">2009 - 2012</div>
                
                <div class="col-span-4">
                    <b>
                        Earth Knowledge, Tucson, AZ
                        <br/>
                        GIS Developer/Senior Analyst
                    </b>
                    <br/>
                    <ul class="list-disc list-inside text-sm">
                        
                        <li>Developed a PHP/CodeIgniter application, an environmental news RSS feed reading and mapping web application</li>
                        
                    </ul>
                </div>
                <div class="text-right">2008 - 2009</div>
                
                <div class="col-span-4">
                    <b>
                        The University of Arizona, Tucson, AZ
                        <br/>
                        GIS Developer/Senior Analyst
                    </b>
                    <br/>
                    <ul class="list-disc list-inside text-sm">
                        
                        <li>Created and presented research presentations for conferences in water resources, GIS, and natural resources</li>
                        
                        <li>Developed DotAGWA, a web application using C#.Net, Java/J2EE, ESRI’s ArcGIS Server, Oracle Database and the Oracle Database spatial components</li>
                        
                        <li>Wrote and published research papers published in the Natural Resources Conservation Service scientific publication database</li>
                        
                        <li>Designed and developed the Santa Rita Experimental Range study and document search interface</li>
                        
                    </ul>
                </div>
                <div class="text-right">2001 - 2008</div>
                
                <div class="col-span-4">
                    <b>
                        Scientific Technologies Corp., Tucson, AZ
                        <br/>
                        Senior GIS Analyst
                    </b>
                    <br/>
                    <ul class="list-disc list-inside text-sm">
                        
                        <li>Developed prototype desktop GIS application that was used to track disease vector outbreaks in NY City</li>
                        
                        <li>Developed desktop GIS application used in grant proposal for modified E-911 (Enhanced 911) research grant. The application demonstrated how GIS could be used to help improve the 911 systems</li>
                        
                        <li>Developed a map interface for the tracking and surveillance of mosquito and pest outbreaks for the government of Bermuda; allowed health inspectors to zoom into a location on a map, and enter mosquito monitoring data; used HTML, CSS, JavaScript and the JavaScript API provided with ESRI’s ArcIMS internet map server software</li>
                        
                    </ul>
                </div>
                <div class="text-right">1999 - 2001</div>
                
                <div class="col-span-4">
                    <b>
                        The University of Arizona, Tucson, AZ
                        <br/>
                        Research Associate/Programmer
                    </b>
                    <br/>
                    <ul class="list-disc list-inside text-sm">
                        
                        <li>Developed a desktop GIS application called GeoFac used to browse, search, and display via maps U.S. Census information</li>
                        
                    </ul>
                </div>
                <div class="text-right">1997 - 2000</div>
                
                <div class="col-span-4">
                    <b>
                        Errol L. Montgomery and Associates, Tucson, AZ
                        <br/>
                        Systems Administrator
                    </b>
                    <br/>
                    <ul class="list-disc list-inside text-sm">
                        
                        <li>Managed small peer-to-peer network</li>
                        
                        <li>PC maintenance and service</li>
                        
                        <li>Database programming projects</li>
                        
                        <li>Assissted in processing data for graphs used in client reports and developed the graphs</li>
                        
                    </ul>
                </div>
                <div class="text-right">1993 - 1997</div>
                
                <div class="col-span-4">
                    <b>
                        Thermo Consulting Engineers, Concord, NH
                        <br/>
                        Hydrologist
                    </b>
                    <br/>
                    <ul class="list-disc list-inside text-sm">
                        
                        <li>Worked on several EPA superfund sites</li>
                        
                        <li>Groundwater and surface water sample colleciton</li>
                        
                        <li>Soil sample colleciton</li>
                        
                        <li>Environment report preparation</li>
                        
                        <li>Assissted in processing data for graphs used in client reports and developed the graphs</li>
                        
                    </ul>
                </div>
                <div class="text-right">1990 - 1992</div>
                
                <div class="col-span-4">
                    <b>
                        State of NH Dept. of Environmental Services, Concord, NH
                        <br/>
                        Hydrologist - Groundwater Protection Bureau
                    </b>
                    <br/>
                    <ul class="list-disc list-inside text-sm">
                        
                        <li>Worked on several EPA superfund sites</li>
                        
                        <li>Groundwater and surface water sample colleciton</li>
                        
                        <li>Soil sample colleciton</li>
                        
                        <li>Environment report preparation</li>
                        
                        <li>Assissted in processing data for graphs used in client reports and developed the graphs</li>
                        
                    </ul>
                </div>
                <div class="text-right">1988 - 1990</div>
                

        </div>
    </div>

</main>

  </body>
</html>